#cards {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  #cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  #cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  #cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
