head {
  background-color: black;
  color: white;
}

table {
  margin: 10px auto;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: sans-serif;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: black;
  font-size: medium;
}

tr:first-child th {
  background-color: black;
  color: white;
}

th,
td {
  padding: 10px;
  border: solid black 1px;
  font-size: 1.5rem;
}

td {
  text-align: center;
  width: 150px;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
}

.column {
  background-color: #333333;
  color: white;
}

.blank {
  background-color: black;
}

.bold {
  font-weight: bold;
}
