/* Navigation */
@media screen and (min-width: 32em) {
  .nav-menu-item {
    display: block;
  }

  .nav a {
    text-align: center;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: space-around;
  }

  #menu {
    display: none;
  }

  .discover-sections {
    column-count: 2;
    column-gap: normal;
  }

  /* picture hover */
  .attraction-img:hover {
    transform: scale(1.1); /* Increase the size by 10% */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

  .form-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: normal;
  }

  .membership-card {
    grid-column: 2/3;
  }
}
