/* Navigation */
@media screen and (min-width: 32em) {
  /* .nav-menu {
    display: flex;
  } */

  .nav-menu-item {
    display: block;
  }

  .nav a {
    text-align: center;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: space-around;
  }

  #menu {
    display: none;
  }
}
