/* Navigation */
@media screen and (min-width: 32em) {
  .nav-menu-item {
    display: block;
  }

  .nav a {
    text-align: center;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: space-around;
  }

  #menu {
    display: none;
  }

  .discover-sections {
    column-count: 2;
    column-gap: normal;
  }

  /* picture hover */
  .attraction-img:hover {
    transform: scale(1.1); /* Increase the size by 10% */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

  .form-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: normal;
  }

  .membership-card {
    grid-column: 2/3;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .grid h2 {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
  .list > .member-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
  }
  .list > .member-card:nth-child(even) {
    background-color: #bed;
  }

  .member-card h2 {
    font-size: 1rem;
  }

  .list img {
    display: none;
  }
}
