@media screen and (min-width: 32em) {
  .card {
    grid-template-columns: 2fr 1fr;
  }

  .card-parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: space-around;
  }
}
